@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: #9b59b6;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.3);
    width: 40rem;
    max-width: 100%;
}

.header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 2rem 4rem;
}

.header h2 {
    margin: 0;
}

.form {
    padding: 3rem 4rem;
}

.form-control {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-control input {
    display: block;
    border: 2px solid #f0f0f0;
    border-radius: .4rem;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 1rem;
    width: 100%;
}

.form-control.success input {
    border-color: rgba(38, 236, 81, 0.8);
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    position: absolute;
    top: 4.2rem;
    right: 1rem;
    visibility: hidden;
}

.form-control.success i.fa-check {
    visibility: visible;
    color: rgba(38, 236, 81, 0.8);
}

.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}

.form-control small {
    position: absolute;
    visibility: hidden;
    bottom: 0;
    left: 0;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}

.form button {
    background-color: #9b59b6;
    color: #fff;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 1.2rem;
    width: 100%;
    border-radius: .4rem;
}